.nnq-pagination {
    line-height: 28px;
    vertical-align: middle;
}

.nnq-pagination,
.nnq-pagination .nnq-icon {
    margin: 0px;
    padding: 7px 6px 4px 6px;
    font-size: 1.3em;
}

.nnq-pagination .nnq-prev,
.nnq-pagination .nnq-next {
    background-color: white;
    display: inline-block;
    border: 0px;
    margin: 0px;
}

.nnq-pagination .nnq-pager {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.nnq-pagination .nnq-pager .number {
    display: inline-block;
    margin: 0px;
    padding: 0px 10px;
}

.nnq-pagination .nnq-pager .number:not(.disabled).active {
    background-color: #409eff;
    color: #fff;
}

.nnq-pagination--background .nnq-pager .number,
.nnq-pagination--background .nnq-prev,
.nnq-pagination--background .nnq-next {
    background-color: #f4f4f5;
}

.nnq-pagination.nnq-pagination--background .nnq-pager--active {
    background-color: #409eff;
    color: #fff;
}

.nnq-pager--active {
    background-color: #409eff;
    color: #fff;
}