[class*="nnq-icon-"], [class^="nnq-icon-"] {
    font-family: nanaqi-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nnq-icon-space:before{
	content: '\E000';
}

.nnq-icon-up-arrows:before{
	content: '\E001';
}

.nnq-icon-down-arrows:before{
	content: '\E002';
}

.nnq-icon-left-arrows:before{
	content: '\E003';
}

.nnq-icon-right-arrows:before{
	content: '\E004';
}

.nnq-icon-up-triangle:before{
	content: '\E005';
}
.nnq-icon-down-triangle:before{
	content: '\E006';
}
.nnq-icon-left-triangle:before{
	content: '\E007';
}
.nnq-icon-right-triangle:before{
	content: '\E008';
}

.nnq-icon-plus-circle:before{
	content: '\E009';
}

.nnq-icon-minus-circle:before{
	content: '\E00A';
}

.nnq-icon-plus:before{
	content: '\E00B';
}

.nnq-icon-minus:before{
	content: '\E00C';
}

.nnq-icon-blod:before{
	content: '\E00D';
}

.nnq-icon-italic:before{
	content: '\E00E';
}

.nnq-icon-underline:before{
	content: '\E00F';
}

.nnq-icon-cross:before{
	content: '\E010';
}

.nnq-icon-checkmark:before{
	content: '\E011';
}

.nnq-icon-download:before{
	content: '\E012';
}

.nnq-icon-omit:before{
	content: '\E013';
}

.nnq-icon-star:before{
	content: '\E014';
}

.nnq-icon-starspace:before{
	content: '\E015';
}

.nnq-icon-starhalf:before{
	content: '\E016';
}

.nnq-icon-upload:before{
	content: '\E017';
}

.nnq-icon-reload:before{
	content: '\E018';
}

.nnq-icon-center:before{
	content: '\E019';
}

.nnq-icon-atright:before{
	content: '\E01A';
}

.nnq-icon-atleft:before{
	content: '\E01B';
}

.nnq-icon-user:before{
	content: '\E01C';
}

.nnq-icon-usergroup:before{
	content: '\E01D';
}

.nnq-icon-updown:before{
	content: '\E01E';
}

.nnq-icon-menu:before{
	content: '\E01F';
}

.nnq-icon-first:before{
	content: '\E021';
}

.nnq-icon-end:before{
	content: '\E022';
}

.nnq-icon-refresh1:before{
	content: '\E023';
}

.nnq-icon-refresh2:before{
	content: '\E024';
}

.nnq-icon-search:before{
	content: '\E025';
}

.nnq-icon-amplifier:before{
	content: '\E026';
}

.nnq-icon-reducer:before{
	content: '\E027';
}

.nnq-icon-left-left:before{
	content: '\E028';
}

.nnq-icon-right-right:before{
	content: '\E029';
}

.nnq-icon-pause:before{
	content: '\E02A';
}

.nnq-icon-close:before{
	content: '\E02B';
}

.nnq-icon-move:before{
	content: '\E02C';
}

.nnq-icon-selected:before{
	content: '\E02D';
}

.nnq-icon-sortup:before{
	content: '\E02E';
}

.nnq-icon-sortdown:before{
	content: '\E02F';
}

.nnq-icon-sort:before{
	content: '\E030';
}

.nnq-icon-picfilling:before{
	content: '\E031';
}

.nnq-icon-delete:before{
	content: '\E032';
}

.nnq-icon-edit:before{
	content: '\E033';
}

.nnq-icon-scanner:before{
	content: '\E034';
}

.nnq-icon-local:before{
	content: '\E035';
}

.nnq-icon-copy:before{
	content: '\E036';
}

.nnq-icon-error:before{
	content: '\E039';
}

.nnq-icon-success:before{
	content: '\E03A';
}

.nnq-icon-warnning:before{
	content: '\E03B';
}

.nnq-icon-info:before{
	content: '\E03C';
}

.nnq-icon-warn:before{
	content: '\E03D';
}

.nnq-icon-bad:before{
	content: '\E03E';
}

.nnq-icon-good:before{
	content: '\E03F';
}

.nnq-icon-skip:before{
	content: '\E040';
}

.nnq-icon-share:before{
	content: '\E041';
}

.nnq-icon-header:before{
	content: '\E042';
}

.nnq-icon-typesize:before{
	content: '\E043';
}

.nnq-icon-font:before{
	content: '\E044';
}

.nnq-icon-delete-line:before{
	content: '\E047';
}

.nnq-icon-atcenter:before{
	content: '\E048';
}

.nnq-icon-retract:before{
	content: '\E049';
}

.nnq-icon-line-height:before{
	content: '\E04A';
}

.nnq-icon-pen:before{
	content: '\E04B';
}

.nnq-icon-list-ul:before{
	content: '\E04C';
}

.nnq-icon-list-ol:before{
	content: '\E04D';
}

.nnq-icon-double-quotation:before{
	content: '\E04E';
}

.nnq-icon-quotation:before{
	content: '\E04F';
}

.nnq-icon-expression:before{
	content: '\E050';
}

.nnq-icon-picture:before{
	content: '\E051';
}

.nnq-icon-table:before{
	content: '\E052';
}

.nnq-icon-video:before{
	content: '\E053';
}

.nnq-icon-code:before{
	content: '\E054';
}

.nnq-icon-line:before{
	content: '\E055';
}

.nnq-icon-screen-full:before{
	content: '\E056';
}

.nnq-icon-screen-exit:before{
	content: '\E057';
}

.nnq-icon-background:before{
	content: '\E058';
}

.nnq-icon-message:before{
	content: '\E059';
}