.upload {
    text-align: center;
    margin: 15px;
    border: blanchedalmond dotted 3px;
    cursor: pointer;
    padding: 50px 0px;
}

.upload .icon {
    font-size: 6em;
}

.upload .tips {
    display: block;
}

.upload .input {
    display: none;
}