.nnq-outline-tree .nnq-tree-ul,
.nnq-tree-li {
    list-style-type: none;
}

.nnq-outline-tree {
    display: block;
    position: relative;
    padding: 5px 15px;
}

.nnq-outline-tree .nnq-outline-tree__inner {
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    line-height: 28px;
    /* min-width: 45px; */
    text-align: left;
    color: #888;
    border: 1px solid #ddd;
    /* border-radius: 5px; */
    padding: 0px 5px;
}

.nnq-outline-tree .nnq-tree-ul {
    position: relative;
    padding-left: 60px;
    margin: 0px;
}

.nnq-outline-tree .nnq-tree-ul>.nnq-tree-li {
    position: relative;
    padding: 5px 0;
}

.nnq-outline-tree>.nnq-tree-ul {
    padding: 0px;
    margin: 0px;
}

.nnq-outline-tree>.nnq-tree-ul .nnq-tree-ul>.nnq-tree-li:after {
    content: '';
    position: absolute;
    top: 20px;
    left: -45px;
    width: 45px;
    border: none;
    border-top: 1px dotted #ddd;
}

.nnq-outline-tree>.nnq-tree-ul .nnq-tree-ul>.nnq-tree-li:not(:last-child):before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    height: 100%;
    border: none;
    border-left: 1px dotted #ddd;
}

.nnq-outline-tree>.nnq-tree-ul .nnq-tree-ul>.nnq-tree-li:last-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    height: 20px;
    border: none;
    border-left: 1px dotted #ddd;
}

.nnq-outline-tree--hover .nnq-outline-tree__inner:hover,
.nnq-outline-tree--hover .nnq-outline-tree__inner:hover+.nnq-tree-ul .nnq-outline-tree__inner {
    color: #fff;
    background-color: orange;
}

.nnq-outline-tree--hover .nnq-outline-tree__inner:hover,
.nnq-outline-tree--hover .nnq-outline-tree__inner:hover+.nnq-tree-ul .nnq-outline-tree__inner,
.nnq-outline-tree--hover .nnq-outline-tree__inner:hover+.nnq-tree-ul .nnq-tree-li:before,
.nnq-outline-tree--hover .nnq-outline-tree__inner:hover+.nnq-tree-ul .nnq-tree-li:after {
    border-color: orange;
}

.nnq-outline-tree .nnq-icon:before {
    margin-right: 5px;
}

.nnq-outline-tree .nnq-icon-minus-circle,
.nnq-outline-tree .nnq-icon-plus-circle {
    cursor: pointer;
}


/* default tree css */

.nnq-tree .nnq-tree-ul,
.nnq-tree-li {
    list-style-type: none;
}

.nnq-tree {
    display: block;
    position: relative;
    padding: 5px 15px;
}

.nnq-tree .nnq-tree-ul {
    position: relative;
    padding-left: 18px;
    margin: 0px;
}

.nnq-tree .nnq-tree-ul>.nnq-tree-li {
    position: relative;
}

.nnq-tree>.nnq-tree-ul {
    padding: 0px;
    margin: 0px;
}

.nnq-tree .nnq-icon-right-triangle,
.nnq-tree .nnq-icon-down-triangle {
    cursor: pointer;
}

.nnq-tree__branch,
.nnq-tree__leaf {
    padding: 6px;
}


/* 兼容form checkbox */

.nnq-tree .nnq-checkbox {
    margin-bottom: 3px;
}