/* nnq-button css */
.nnq-button {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}

.nnq-button:hover {
	/* color: white; */
	border-color: #DDDDDD;
}

.nnq-button:active {
	opacity: 0.9;
}

.nnq-button-default {
	color: gray;
	border-color: black;
	background-color: white;
}

.nnq-button-default:hover {
	opacity: 0.65;
	color: black;
	background-color: #999999;
}

.nnq-button-default:disabled,
.nnq-button-default.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-primary {
	color: white;
	background-color: #0993fc;
	color: var(--nnq-white-color);
	background-color: var(--nnq-primary-color);
}

.nnq-button-primary:hover {
	opacity: 0.65;
}

.nnq-button-primary:disabled,
.nnq-button-primary.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-secondary {
	color: white;
	background-color: #babbbc;
	color: var(--nnq-white-color);
	background-color: var(--nnq-secondary-color);
}

.nnq-button-secondary:hover {
	opacity: .65;
}

.nnq-button-secondary:disabled,
.nnq-button-secondary.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-success {
	color: white;
	background-color: #37dd28;
	color: var(--nnq-white-color);
	background-color: var(--nnq-success-color);
}

.nnq-button-success:hover {
	opacity: .65;
}

.nnq-button-success:disabled,
.nnq-button-success.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-danger {
	color: white;
	background-color: #e9433d;
	color: var(--nnq-white-color);
	background-color: var(--nnq-danger-color);
}

.nnq-button-danger:hover {
	opacity: .65;
}

.nnq-button-danger:disabled,
.nnq-button-danger.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-warning {
	color: white;
	background-color: #fdaf1d;
	color: var(--nnq-white-color);
	background-color: var(--nnq-warning-color);
}

.nnq-button-warning:hover {
	opacity: .65;
}

.nnq-button-warning:disabled,
.nnq-button-warning.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-info {
	color: white;
	background-color: #0dcaf1;
	color: var(--nnq-white-color);
	background-color: var(--nnq-info-color);
}

.nnq-button-info:hover {
	opacity: .65;
}

.nnq-button-info:disabled,
.nnq-button-info.disable {
	opacity: .65;
	cursor: not-allowed;
}

/* outline button */
.nnq-button-outline-default {
	color: gray;
	border-color: black;
	color: var(--nnq-gray-color);
	border-color: var(--nnq-black-color);
}

.nnq-button-outline-default:hover {
	color: gray;
	background-color: black;
	color: var(--nnq-black-color);
	background-color: var(--nnq-gray-color);
}

.nnq-button-outline-default:disabled,
.nnq-button-outline-default.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-outline-primary {
	color: #0993fc;
	border-color: #0993fc;
	color: var(--nnq-primary-color);
	border-color: var(--nnq-primary-color);
}

.nnq-button-outline-primary:hover {
	color: white;
	background-color: #0993fc;
	color: var(--nnq-white-color);
	background-color: var(--nnq-primary-color);
}

.nnq-button-outline-primary:disabled,
.nnq-button-outline-primary.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-outline-secondary {
	color: #babbbc;
	border-color: #babbbc;
	color: var(--nnq-secondary-color);
	border-color: var(--nnq-secondary-color);
}

.nnq-button-outline-secondary:hover {
	color: white;
	background-color: #babbbc;
	color: var(--nnq-white-color);
	background-color: var(--nnq-secondary-color);
}

.nnq-button-outline-secondary:disabled,
.nnq-button-outline-secondary.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-outline-success {
	color: #37dd28;
	border-color: #37dd28;
	color: var(--nnq-success-color);
	border-color: var(--nnq-success-color);
}

.nnq-button-outline-success:hover {
	color: white;
	background-color: #37dd28;
	color: var(--nnq-white-color);
	background-color: var(--nnq-success-color);
}

.nnq-button-outline-success:disabled,
.nnq-button-outline-success.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-outline-danger {
	color: #e9433d;
	border-color: #e9433d;
	color: var(--nnq-danger-color);
	border-color: var(--nnq-danger-color);
}

.nnq-button-outline-danger:hover {
	color: white;
	background-color: #e9433d;
	color: var(--nnq-white-color);
	background-color: var(--nnq-danger-color);
}

.nnq-button-outline-danger:disabled,
.nnq-button-outline-danger.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-outline-warning {
	color: #fdaf1d;
	border-color: #fdaf1d;
	color: var(--nnq-warning-color);
	border-color: var(--nnq-warning-color);
}

.nnq-button-outline-warning:hover {
	color: white;
	background-color: #fdaf1d;
	color: var(--nnq-white-color);
	background-color: var(--nnq-warning-color);
}

.nnq-button-outline-warning:disabled,
.nnq-button-outline-warning.disable {
	opacity: .65;
	cursor: not-allowed;
}

.nnq-button-outline-info {
	color: #0dcaf1;
	border-color: #0dcaf1;
	color: var(--nnq-info-color);
	border-color: var(--nnq-info-color);
}

.nnq-button-outline-info:hover {
	color: white;
	background-color: #0dcaf1;
	color: var(--nnq-white-color);
	background-color: var(--nnq-info-color);
}

.nnq-button-outline-info:disabled,
.nnq-button-outline-info.disable {
	opacity: .65;
	cursor: not-allowed;
}

/* round css */
.nnq-button-round-full {
	border-radius: 40px;
}

/* round css */
.nnq-button-round {
	border-radius: 4px;
}

.nnq-button-circle {
	border-radius: 50%;
}

/* button size */
.nnq-button-bg {
	padding: 12px 24px;
}

.nnq-button-md {
	padding: 8px 16px;
}

.nnq-button-sm {
	padding: 3px 6px;
}

/* tool css */
.disabled {
	opacity: .65;
	pointer-events: none;
}
